body {
 margin: 0;
 padding: 0 10px;
 background-color: #31323E;
}
.coral-text{
 color: coral;
}
img{
 width: 100%;
}
a{
 text-decoration: none;
}
a:visited, a:link, a:active{
 color: white;
}
.container{
 margin-bottom: 20px;
}
.navbar{
 height: 25px;
 padding: 10px 0;
 display: flex;
 justify-content: space-between;
 max-width: 900px;
 margin: 0 auto;
 margin-top: 15px;
}
.nav-tab{
 height:0;
 width: 0;
 transition: 0.5s;
 overflow: hidden;
}
.menu-container,.link-container{
 display: flex;
 justify-content: space-between;
 width: 90px;
}
.menu{
 display: none;
}
.nav-img{
 width: 25px;
 height: 25px;
}
.nav-img img{
 height: 100%;
}
.menu{
 width: 30px;
 height: 25px;
 line-height: 10px;
}
.menu-hr{
 height: 2px;
 background-color: coral;
 margin: 0;
 border: none;
 transition: 0.5s;
}
#mid-menu, #last-menu{
 margin-top: 4px;
}
#mid-menu{
 width: 70%;
}
.menu-text{
 font-size: 10px;
 color: gray;
 transition: 0.5s;
}

.nav-item{
 max-width: 900px;
 margin: 0 auto;
 display: flex;
 justify-content: space-around;
}
.nav-item div{
 width: 25%;
 text-align: center;
 border-right: 2px inset dimgray;
}
#last-nav-item{
 border: none;
}
/* top sec start */

.top-sec{
 max-width: 900px;
 margin: 0 auto;
 background-size: contain;
 background-repeat: no-repeat;
 position: relative;
}
.top-sec-bg{
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.4);
 position: absolute;
 top: 0;
}
.top-sec-text{
 line-height: 40px;
 color: white;
 width: 60%;
 margin: 50px 0 0 20px;
 font-size: 35px;
}
.top-sec-text p{
 font-size: 19px;
}
.top-sec-bottom{
 display: flex;
 align-items: center;
 position: absolute;
 top: 85%;
}
.scroll{
 width: 30px;
 height: 50px;
 border-radius: 5px;
 border: 2px outset white;
 background: #323235;
 margin-right: 15px;
 overflow: hidden;
 position: relative;
}
.scroll-line{
 margin: 0 auto;
 width: 7px;
 height: 19px;
 background: coral;
 position: relative;
 animation: scroll-line-effect 2s linear infinite;
}
@keyframes scroll-line-effect {
 from{
  top:  50px;
 }
 to{
  top: -30px;
 }
}

/* main sec style start */
main{
 background-color: white;
 padding-bottom: 10px;
}
/* about me */
.about-me{
 max-width: 900px;
 margin: 0 auto;
 padding-top: 10px;
}
.about-me-img-text{
 display: flex;
 justify-content: space-between;
}
.about-me-img-text div{
 width: 48%;
}

/* services */
.services{
 max-width: 900px;
 margin: 0 auto;
 padding: 7px 15px;
}
.services-text-container{
 height: 550px;
 color: orangered;
 font-size: 45px;
 font-weight: bolder;
 position: relative;
}
.services-text-container div{
 padding: 5px;
 background-color: rgba(255, 255, 255, 0.2);
 position: absolute;
 top:0;
}
.services-bottom{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.contact-btn{
 color: white;
 background-color: coral;
 border: none;
 border-left: 2px inset #31323E;
 height: 40px;
 outline: none;
 transition: 0.5s;
}
.contact-btn:hover{
 transform: scale(1.2);
}

/* skills */
.skills{
 max-width: 900px;
 margin: 0 auto;
}
.skills div{
 display: flex;
 justify-content: space-between;
 border-bottom: 5px inset #31323E;
}

/* main sec end */

footer{
 max-width: 900px;
 color: white;
 margin: 0 auto;
}
.contact-top-text{
 text-transform: uppercase;
}
.contact-form span{
 color: white;
 font-weight: bolder;
}
.contact-form p{
 color: grey;
}
.contact-form div:hover p{
 color: white;
 font-weight: bold;
 transition: 1s;
}
.contact-form img{
 width: 25px;
 height: 25px;
}
.contact-form div{
 width: 100%;
 display: flex;
 padding-left: 50px;
 align-items: center;
}

/* media query */

@media only screen and (max-width: 688px) {
 #nav-item-container{
  display: none;
 }
 .menu{
  display: block;
 }
 .top-sec-text{
  font-size: 15px;
  line-height: 15px;
  margin: 25px 0 0 10px;
 }
 .top-sec-text p{
  font-size: 12px;
 }
 .top-sec-bottom{
 top: 70%;
}
 .scroll{
  width: 20px;
  height: 40px;
 }
 .scroll-line{
  width: 3px;
 }
 
 main{
  padding: 5px;
 }
 .about-me-img-text{
  display: block;
 }
 .about-me-img-text div {
  width: 100%;
 }
 .services-text-container{
  font-size: 15px;
  height: 200px;
 }
 .contact-form div{
  padding-left: 20px;
  font-size: 10px;
  width: 90%;
 }
}